<h4>Scatterplot Test</h4>

<!--<ul class="grid grid-pad">
    <li *ngFor="let topic of topics">
        <h4>{{topic.topicName}}</h4>
    </li>
</ul>-->

<div class="btn-group" id="scatterYAxis" dropdown>
    Y Axis: 
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    {{yAxisCriteria}} <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu" >
    <li role="menuitem" *ngFor="let criteria of criterion">
        <span class="dropdown-item" (click)="onSelectY(criteria)" >{{criteria}}</span>
    </li>
  </ul>
</div>

<app-scatterplot *ngIf="chartData" [data]="chartData"></app-scatterplot>

<div class="btn-group" id="scatterXAxis" dropdown>
    X Axis: 
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    {{xAxisCriteria}} <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu" >
    <li role="menuitem" *ngFor="let criteria of criterion">
        <span class="dropdown-item" (click)="onSelectX(criteria)" >{{criteria}}</span>
    </li>
  </ul>
</div>